/* App.css */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-background {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(135deg, #42526e 0%, #1a355c 100%);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
